.ultra{
    border: 2px solid black;
    
    width: 410px;
    margin: 10px;
    margin-left: 150px;
     box-shadow:0 0 20px, inset 0 0 10px;
     background-color: azure;
     border-radius: 50px;
    
}
body{
    background-color: rgb(189, 189, 184);
    margin: auto 30%;
}
.cal{
   color: blue;
   background-color: rgba(152, 153, 155, 0.582);
    box-shadow: inset 0 0 5px;
    box-shadow: 0 0 10px rgb(17, 17, 17);
    border-radius: 10px;
   margin: 25px;
    border: 8px solid black;                                                  
    height: 670px;
    width: 350px;
}

small{
    font-size: 10px;
}
.two{
    color: rgb(4, 66, 12);
    margin: 5px;
    flex-direction: column;
}
span{
    
    display: flex;
    justify-content: space-around;                          -
}
button{
    color: blue;
    border-radius: 5px;
    margin: 3px;
    background-color: rgb(253, 252, 252);
    box-shadow: 2px 2px 2px 2px rgb(95, 92, 92);
    height: 25px;
    width: 100px;
}

.trois{
     color: rgb(4, 53, 4);
    margin: 5px;
    flex-direction: column;
}
.trois>span>button{
    color: rgb(5, 5, 5);
    background-color: rgb(0, 217, 255);
    width: 100px;
    height: 35px;
}
.trois>span>small{
    font-size: 10px;
}
.un{
    box-shadow: inset 0 0 5px;
    width: 325px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 3px;
    background-color: rgb(66, 66, 65);
    height: 100px;
    border: 2px solid black;
}
.deux{
    box-shadow: inset 0 0 5px black;
    margin: 5px;
    height: 160px;
    border: 2px solid black;

}
.b{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    

}
.chete{
   background-color: beige;
    margin: 40px;
border: 1px solid black;
width: 700px;
box-shadow: 0 0 20px;
}
.h1{
    text-align: center;
    box-shadow: 0 0 10px;
}
