body{
    background-color:rgb(18, 18, 70) ;
}
header{
    background-color: #fff;
    display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 80px;
height: 30px;
}
a{
    color: black;
    justify-content: space-between;
    padding: 10px;
}