body{
   color: #fff;
   text-align: center;
     align-items: center;
    background-color:rgb(18, 18, 70) ;
}
header{
    background-color: #fff;
    display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 80px;
height: 30px;
}
a{
    color: black;
    justify-content: space-between;
    padding: 10px;
}
.un{
    display: flex;
    flex-direction: column;
    border-right:1px solid rgb(252, 251, 251);
    border-bottom:1px solid rgb(250, 248, 248);
    color: #fff;
    font-size: 18px;
    text-align: start;
    width: 900px;
    padding-right: 50px;
    height: 350px;
    margin-left: 500px;
    margin-top: 100px;
}
.deux{
    background-color: rgb(114, 145, 213);
    margin-top: 40px;
    border-radius: 40px;
    width: 200px;
    height: 60px;
}
.trois{
    margin-top: 100px;
    color: rgb(70, 139, 179);
}
.quatre{
    text-align: center;
}
.cinq{
    border-collapse: collapse;
    text-align: center;
    color: white;
    margin-left: 80px;
    border: 1px solid rgb(114, 145, 213);
    width: 1600px;
    height: 400px;
}
th{
    height: 50px;
    border: 1px solid rgb(114, 145, 213);
}
td{
    border: 1px solid rgb(114, 145, 213);
}
.six{
    margin: 200px;
}
.sept{
     background-color: #fff;
    display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 80px;
height: 30px;
}
.huit{
    width: 60px;
    height: 50px;
}